<div class="container px-3">
    <div class="d-flex align-items-center justify-content-center" style="height: 90vh;">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h1 class="text-center" style="font-size: 5rem;">CREATE YOUR OWN CONTATCS</h1>
      <hr>
    </div>
  </div>
</div>